.error-wrapper {
  /* width: 100%;
  height: 100%; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px #33406F;
  border-radius: 10px;
}