.send-button {
  text-align: center;
  text-transform: uppercase;
  line-height: 38px;
  width: 80%;
  height: 40px;
  background-color: #6078cf;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px #FFF;
  transition: background-color 500ms;
  margin-bottom: 20px;
}

.send-button:hover {
  cursor: pointer;
  background-color: #33406f;

}

.send-button:active {
  box-shadow: 0px -4px #0b2685;
  transform: translateY(4px);
  background-color: #2499bd;
}

.active {
  background-color: rgb(108, 206, 108);
  transition: width 750ms;
  border-radius: 50%;
  width: 40px;
  border: solid rgb(187, 187, 187) 4px;
}

.active:hover {
  cursor: unset;
  background-color: rgb(108, 206, 108);
  pointer-events: none;
}